# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
backend/logs
backend/auth_info/*
backend/baileyes/*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?



# Ignore environment variables
.env
.env.local
node_modules/
dist/

auth_info_baileys/
auth_info/
.wwebjs_auth/